<h1>Login as:</h1>

<div>
  <%= link_to 'Admin Login', new_normal_user_session_path, class: 'btn btn-primary' %>

  <%= link_to 'Administrator Login', new_authority_session_path, class: 'btn btn-primary' %>
</div>
